@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página Principal</title>
</head>
<body>
  <h1> Sistema UpperAcademy </h1>
    <div>
        <h2> Menu Principal </h2>
        <a href="/Aluno/Listar"> Aluno </a> <br />
        <a href='/Professor/Listar'> Professor </a> <br />
        <a href='/Turma/Listar'> Turma </a> <br />
        <a href='/Midia/Listar'> Midia </a> <br />
        <a href='/Emprestimo/EscolherAluno'> Empréstimo </a> <br />
        <a href='/Devolucao/Listar'> Devolução </a> <br />
        <a href='/Relatorios/Index'> Relatórios </a> <br />
        <a href='/Home/Sair'> Sair </a> <br />
    </div>
</body>
</html>
